@charset "UTF-8";

* {
    margin: 0px;
    padding: 0px;
    list-style: none;
}

body main{
    background: url('../imagens/fundo.gif') repeat;
    position: relative;  
}

.container {
    display: grid;
    grid-template-columns: 1fr 60px;
    grid-gap: 5px;
    margin: 0 auto;
    padding: 20px;
    position: relative;
}

.container .telefone { /*Tela do telefone branco*/
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    height:628px;
    width: 311px;
    background: url(../imagens/frame-iphone.png) no-repeat;
    position: relative;       
}

.container .telefone iframe {
    position: absolute;
    width: 450px;
    height: 4970px;
}

iframe#tela { /*tamanho da caixa do video com width e height. Ajuste do video com top e left*/   
    position: absolute;
    top: 78px;
    left: 21px;
    width: 266px;
    height: 471px;
}

.sidebar {
    display: grid;
    margin-bottom: auto;
    margin-right: 5px;
}

.sidebar > div {
    margin-bottom: 5px;
}

.sidebar img {
    width: 50px;
    border-radius: 50%;
    border: 3px solid rgba(255, 255, 255, 0.733);    
    box-shadow: 5px 5px 5px rgba(255, 255, 255, 0.76);
}

.sidebar img:hover {
    border: 3px solid rgba(255, 0, 0, 0.733);
    box-shadow: 5px 5px 5px rgba(255, 0, 0, 0.733);
    transform: translate(-3px, -3px); /*faz um movimento leve*/
}

footer {
    background: black;
    justify-content: center;
    margin: auto;
    text-align: center;
    color: white;
    font-weight: bolder;
    text-decoration: none;
    padding: 2px;
}

footer a {
    color: white;
    text-decoration: none;
}
footer a:hover {
    color: red;
}



@media (max-width:500px){
   
    body {
        position: absolute;
    }
    .container {
        grid-template-columns: 1fr;
    }
    .container .sidebar {
        display: flex;
        margin-bottom: auto;
        margin-right: 5px;
    }
    .container .sidebar > div {
        flex: 1 0 50px; /* 1= expandir, 0= não diminui tamanho, 200px= é a base do tamanho*/
        margin: 0 10px;
    }
    
    .video-container {
        display: block;
        grid-column: auto;
        grid-row: auto;
    }
    .video-container video {
        margin: auto;
    }
}
